services:
  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

  backend:
    build:
      context: ./Server
      dockerfile: Dockerfile
    container_name: dockgraph-backend
    command: python -m uvicorn api.chat:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    env_file:
      - .env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password

    develop:
      watch:
        - action: sync
          path: ./Server
          target: /app
        - action: restart
          path: ./Server

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: dockgraph-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /src

volumes:
  neo4j_data:
